// 配色
$cGreen: #789C87;
$cPink: #d77171;
$cOrange: #FFB88C;
$cBeige: #F0D8C1;
$cCream: #FFEFE0;
$cWhite: #ffffff;
$cBlack: #565656;
$cBrown: #815B2E;
$cGray: #484848;
$cShadow: #b2b2b2;

// ----------- 基本スタイル ----------

// PCのブレークポイント
@mixin mq() {
  @media screen and (min-width: 1023px) {
    @content;
  }
}

html {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  position: relative;
  text-align: center;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFEFE0;
  color: $cBrown;
  
  @include mq() {
    width: 80%;
    max-width: 1280px;
    padding-right: 10%;
    padding-left: 10%;
  }
}

// section {
//   @include mq() {
//   }
// }

// * {box-sizing: border-box;}


// ----------- ローダー ----------
#loader {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
  
  .loading {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    font-size: 8px;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid $cShadow;
    
    animation: load8 1.1s infinite linear;
  }
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.load {
  display: none;
}

// ----------- アンカーリンク ----------
.anchor-link {
  position: absolute;
  top: 105vh;
  left: 5%;
}


// ----------- デスクトップ用デザイン -----------
// @media screen and (min-width:551px) {
  
//   body {
//     max-width: 800px;
//   }
  
//   h2 {
//     padding: 20% 0 10%;
//   }
// }