@use "base" as *;

// ----------- フッター ----------
.footer {
  // 画面幅いっぱいにする
  width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: auto;
  background-color: $cBrown;
}

.footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer__link {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 8px;
  width: 30px;
}

.footer_icon {
  display: flex;
  height: auto;
}

.footer__txt {
  padding-bottom: 2px;
  font-size: 10px;
  font-weight: normal;
  color: $cWhite;
}