@use "common" as *;

// ----------- フッター ----------
.footer {
  height: auto;
  margin-top: 40px;
  background-color: $cBrown;
}

.footer__link {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 8px;
  width: 30px;
}

.footer__img {
  width: 30px;
}

.footer__txt {
  padding-bottom: 4px;
  font-size: clamp(0.625rem, 1.5vw + 0.25rem, 1rem);
  color: $cWhite;
}
