@use "common" as *;

// ----------- ヘッダー ----------
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 62px;
}

  // ヘッダーの下線
.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  height: 2px;
  background-color: $cBrown;
}

// 店舗名のコンテナ
.header__link-top {
  display: inline-block;
  margin-left: 2%;
  text-align: left;
}

// ヘッダーの店舗名
.header__shop-name {
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: 'Shantell Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  color: $cBrown;
}

// ハンバーガーメニューボタン
.header__button {
  display: inline-block;
  margin-right: 4%;
  text-decoration: none;
}

.header__button svg {
  display: block;
}

// ナビゲーションメニュー
.header__nav-sp {
  display: none;
  flex-direction: column;
  top: 0;
  padding-top: 15%;
  transform: translateX(100vw);
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  opacity: 0;
  z-index: 2;
  background-color: $cBeige;
}

// 「close」ボタン
.header__nav-sp--close {
  position: absolute;
  top: 16px;
  right: 16px;
}

// 各セクションへのリンク
.header__nav-sp--link {
  text-align: left;
  margin-bottom: 12%;
  margin-left: 25%;
  text-decoration: underline;
  color: $cGreen;
  font-size: 20px;
}


.header__nav-sp--sns {
  display: flex;
  position: relative;
  margin-left: 25%;
  padding-bottom: 4%;
  gap: 6%;
}

.header__nav-sp--sns::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: $cGreen;
}




// PC用ナビゲーション
.header__nav-pc {
  display: none;
}

.fixed-link {
  text-align: center;
}

.fixed-link__reserve {
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  width: 6%;
  padding-top: 6px;
  padding-bottom: 2px; /*letter-spacing:4px分減らす*/
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  letter-spacing: 4px;
  color: $cWhite;
  background-color: $cGreen;
  border-radius: 4px;
  z-index: 1;
}




// ----------- デスクトップ用デザイン -----------
@include mq() {
  .header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 72px;
    padding-right: 0;
  }
  
  // ヘッダーの下線
  .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $cBrown;
  }
  
  // 店舗名のコンテナ
  .header__link-top {
    width: 20%;
    margin-left: 8px;
    text-align: left;
  }

  .header__shop-name {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-family: 'Shantell Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: $cBrown;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  
  // SP用ハンバーガーメニューボタンを消す
  .header__button {
    display: none;
  }
  
  // PC用ナビゲーション
  .header__nav-pc {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5%;
    width: 80%;
  }
  
  // 各セクションへのリンク
  .header__nav-pc--link {
    display: inline-block;
    font-size: 18px;
    color: $cBrown;
    text-decoration: none;
    
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  
  // SNSアイコンのコンテナ
  .header__nav-pc--sns {
    display: flex;
    align-items: center;
  }
  
  // SNSアイコン
  .header__nav-pc--icon {
    margin-right: 6px;
    display: block;
  }
}