
// 要素を20px下げて消す
.appear {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s;
}

// 消えている要素を表示・位置を元に戻す
.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}

// modalのみで使用
// 消えている要素を表示・クリックイベントを有効にする
.showModal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

// クリックでアニメーションを停止
.stopAnimation {
  animation-play-state: paused;
}

// SP用ナビゲーションを開く
.open {
  position: fixed;
  opacity: 1;
  transform: none; 
}