// Javascriptで後から動きをつける

// 要素を消す
.hidden {
  visibility: hidden;
  opacity: 0;
}

// 消した要素を表示する
.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}


// modalのみで使用
// modalを表示・クリックイベントを有効にする
.showModal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

// SP用ナビゲーションを開く
.active {
  position: fixed;
  opacity: 1;
  transform: none; 
}

// .swiper-slide-active {
//   transition-duration: 0ms;
//   opacity: 1;
//   transform: translate3d(-630px, 0px, 0px);
// }
