
// 要素を消す
.hidden-up {
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition: all 0.7s;
}

.hidden-down {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: all 0.7s;
}
.hidden-right {
  opacity: 0;
  transform: translateX(20px);
  visibility: hidden;
  transition: all 0.7s;
}
.hidden-left {
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
  transition: all 0.7s;
}

// 消えている要素を表示する
.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}

// modalのみで使用
// 消えている要素を表示・クリックイベントを有効にする
.showModal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

// SP用ナビゲーションを開く
.active {
  position: fixed;
  opacity: 1;
  transform: none; 
}

