@use "common" as *;

// ----------- ファーストビュー ----------
.fv {
  position: relative;
  text-align: left;
}

.fv__wrapper {
  position: absolute;
  top: 74%;
  right: 5%;
  // display: flex;
  // justify-content: right;
  text-align: right;
}

.fv__title {
  color: $cWhite;
  font-family: m-plus-rounded-1m, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

.fv__img {
  display: inline-block;
  margin-top: 40px;
}

.fv__img--sp {
  width: 96%;
  border-radius: 0 32px 0 0;
}

// .fv__img--pc {
//   margin-top: 8px;
//   width: 60%;
//   margin-left: 16px;
//   border-radius: 24px;
// }



// ----------- store ----------
.store-sp {
  margin-bottom: 60px;
}

.store-sp__title {
  position: relative;
  padding-top: 72px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}

.store-sp__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 1px;
}

.store-sp__over {
  display: flex;
  margin-top: 40px;
}

.store-sp__over--left {
  position: relative;
  margin-left: 8px;
  width: 45%;
}

.store-sp__over--left img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 16px 0;
}

.store-sp__over--left::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  width: 100%;
  height: 100%;
  background-color: $cBeige;
  border-radius: 0 0 16px 0;
  z-index: -1;
}

.store-sp__over--right {
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 50%;
  font-size: 14px;
  line-height: 1.8;
}

.store-sp__under {
  display: flex;
  margin-top: 20px;
}

.store-sp__under--left {
  display: flex;
  align-items: center;
  margin-left: 8px;
  width: 50%;
  font-size: 14px;
  line-height: 1.8;
}

.store-sp__under--right {
  position: relative;
  margin-top: 16px;
  margin-right: 8px;
  width: 45%;
}

.store-sp__under--right img {
  width: 100%;
  height: 100%;
  border-radius: 16px 0 0 0;
}

.store-sp__under--right::after {
  content: '';
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 100%;
  height: 100%;
  background-color: $cBeige;
  border-radius: 16px 0 0 0;
  z-index: -1;
}

.store-pc {
  display: none;
}


// ----------- オレンジの背景 ----------

.bgc {
  position: relative;
  overflow: hidden;
}

.bgc::before {
  content: '';
  position: absolute;
  top: 0;
  left: -250px;
  border-radius: 50%;
  width: 1240px;
  height: 1030px;
  z-index: -1;
  background-image: linear-gradient(
    150deg,
    hsl(23deg 100% 77%) 0%,
    hsl(17deg 91% 74%) 24%,
    hsl(11deg 83% 70%) 35%,
    hsl(6deg 74% 66%) 43%,
    hsl(0deg 65% 63%) 83%
    );
}



// ----------- menu ----------
// フォントカラーを白に変更
.menu {
  color: $cWhite;
}

// セクションタイトル
.menu__title {
  position: relative;
  display: block;
  padding-top: 60px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}

// セクションタイトルの下線
.menu__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 1px;
}

// カルーセルのコンテナ
.swiper-slide {
  position: relative;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  color: $cBrown;
}

// スライドの背景色
.swiper-slide::after {
  content: '';
  position: absolute;
  top: -24px;
  right: 6%;
  bottom: 0;
  left: 6%;
  background-color: $cBeige;
  z-index: -2;
}

// スライドの写真
.swiper-slide__img {
  width: 78%;
}

// メニュー名
.swiper-slide__title {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 20px;
}

// メニュー名「ワッフル」の背後に「waffle」
.waffle::after {
  content: 'Waffle';
  position: absolute;
  top: -40px;
  left: calc(50% - 76px);
  font-family: 'Kaushan Script';
  font-size: 56px;
  color: $cWhite;
  opacity: 0.6;
  z-index: -1;
}
// ※他メニューにも継承※
.pudding::after {
  @extend .waffle;
  content: 'pudding';
}
.coffee::after {
  @extend .waffle;
  content: 'coffee';
}

// メニューの説明
.swiper-slide__txt {
  height: 124px;
  padding-bottom: 64px;
  font-size: 14px;
}

// スライドの戻るボタン
.swiper-button-prev {
  top: 35%;
  color: $cWhite;
}

// スライドの進むボタン
.swiper-button-next {
  top: 35%;
  color: $cWhite;
}

// リンク「VIEW ALL」のコンテナ
.menu__link {
  position: relative;
  display: flex;
  cursor: pointer;
}

// リンク「VIEW ALL」のテキスト
.menu__link--txt {
  position: absolute;
  display: flex;
  top: -44px;
  right: 12%;
  font-size: 14px;
  color: $cBrown;
  z-index: 1;
}

// リンク「VIEW ALL」の矢印
.menu__link--txt::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -22%;
  width: 80px;
  height: 8px;
  border-bottom: 1px solid $cBrown;
  border-right: 1px solid $cBrown;
  transform: skew(45deg);
}


// ----------- info ----------
.info {
  color: $cWhite;
  padding-bottom: 95px;
}

// セクションタイトル
.info__title {
  position: relative;
  display: block;
  padding-top: 72px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

// セクションタイトルの下線
.info__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 1px;
}

// 写真とテキストを横に並べる
.info__wrapper {
  display: flex;
  margin-top: 40px;
}

// 外観の写真のコンテナ
.info__img {
  width: 40%;
  margin-left: 16px;
}

// 外観の写真
.info__img img {
  width: 100%;
}

// 営業時間と電話番号をリスト化
.info__list {
  text-align: left;
  width: 60%;
  list-style: none;
  margin-left: 16px;
}

// リストのヘッダー
.info__list--header {
  font-size: 14px;
  text-decoration: underline;
  margin-top: 6%;
  margin-bottom: 1%;
}

// リストの本文
.info__list--item {
  font-size: 12px;
}



// ----------- access ----------
// セクションタイトル
.access__title {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

// セクションタイトルの下線
.access__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 1px;
}

.access__detail{
  text-align: left;
  margin-top: 40px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-size: clamp(0.75rem, 1.2vw + 0.5rem, 1.25rem);
}

.access__map {
  height: 200px;
}


// ----------- contact ----------
// セクションタイトル
.contact__title {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

// セクションタイトルの下線
.contact__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 1px;
}

// Web予約ボタン
.contact__reserve {
  display: inline-block;
  width: 70%;
  background-color: $cGreen;
  border-radius: 10px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
  line-height: 32px;
  color: $cWhite;
  text-decoration: none;
  box-shadow: 1px 1px 3px $cShadow;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align-last: left;
  margin-left: 5%;
  width: 90%;
  font-size: 10px;
}

.contact__header {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
}

.contact__input {
  width: 50%;
  line-height: 2;
  margin-left: 8px;
  padding-left: 4px;
  border-bottom: solid 1px $cShadow;
  background-color: #fff;
}

.contact__input:last-child {
  width: 90%;
  resize: vertical;
}

.contact__submit {
  margin-top: 24px;
  display: inline-block;
  width: 30%;
  line-height: 32px;
  background-color: $cGreen;
  border-radius: 10px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
  color: $cWhite;
  text-decoration: none;
  box-shadow: 1px 1px 3px $cShadow;
}