html {
  font-size: 16px;
  font-family: "Kiwi Maru", "Quicksand", "Noto Sans JP", sans-serif;
  font-weight: 300;
}

body {
  max-width: 430px;
  box-sizing: border-box;
  text-align: center;
  background-color: #FFEFE0;
  color: #ffffff;
}

#loader {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
}
#loader .loading {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  font-size: 8px;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #b2b2b2;
  -webkit-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load {
  display: none;
}

@media screen and (min-width: 551px) {
  body {
    max-width: 800px;
  }
  h2 {
    padding: 20% 0 10%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

#link-top {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 8px;
  text-decoration: none;
}

.header__shop-name {
  font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem);
  line-height: 100%;
  font-family: "Quicksand";
  font-weight: bold;
  color: #789C87;
}

.header__button {
  display: inline-block;
  padding-right: 8px;
  height: 40px;
  width: 40px;
}

.header__nav-sp {
  display: none;
  flex-direction: column;
  top: 0;
  padding-top: 20%;
  transform: translateX(100vw);
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  opacity: 0;
  z-index: 2;
  background-color: #FFEFE0;
}

.header__nav-sp--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
}

.header__nav-sp--link {
  text-align: left;
  margin-bottom: 10%;
  margin-left: 25%;
  text-decoration: underline;
  color: #789C87;
  font-size: clamp(1.125rem, 1.9vw + 0.75rem, 1.375rem);
}

.header__nav-sp--link img {
  width: 30px;
}

.header__nav-sp--line {
  margin-left: 20%;
  border-bottom: 2px solid #789C87;
}

.header__nav-pc {
  display: none;
}

@media screen and (min-width: 551px) {
  header {
    max-width: 800px;
  }
  header a {
    color: #789C87;
    text-decoration: none;
  }
  header a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  header .pc-nav-link {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
  }
  header .pc-nav-link img {
    width: 20px;
    vertical-align: bottom;
  }
  header .pc-nav-link a {
    margin: 0 3%;
  }
  .menu-button, .sp-nav-link {
    display: none;
  }
}
.fv {
  position: relative;
  text-align: left;
}

.fv__bgc {
  position: absolute;
  top: 16px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 98%;
  height: 70px;
  background-color: #484848;
  opacity: 0.7;
}

.fv__title {
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.fv__img--waffle {
  margin-top: 64px;
  margin-left: 24px;
  width: 90%;
  border-radius: 32px;
}

.fv__img--coffee {
  margin-top: 8px;
  width: 250px;
  margin-left: 16px;
  border-radius: 24px;
}

.bgc {
  position: relative;
  overflow: hidden;
}

.bgc::before {
  content: "";
  position: absolute;
  top: 0;
  left: -227px;
  border-radius: 50%;
  width: 1600px;
  height: 1320px;
  z-index: -1;
  background-image: linear-gradient(150deg, hsl(23deg, 100%, 77%) 0%, hsl(17deg, 91%, 74%) 24%, hsl(11deg, 83%, 70%) 35%, hsl(6deg, 74%, 66%) 43%, hsl(0deg, 65%, 63%) 83%);
}

.store {
  position: relative;
}

.store__title {
  display: block;
  padding-top: 140px;
  padding-bottom: 48px;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

.store__explain {
  position: absolute;
  top: 43%;
  right: 4px;
  font-size: 16px;
  font-weight: bold;
}

.store__img {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 370px;
}

.store__img--first {
  width: 40%;
  border-radius: 15px;
  margin-left: 2%;
}

.store__img--second {
  width: 38%;
  border-radius: 14px;
  margin-top: 8px;
  margin-left: 13%;
}

.store__img--third {
  position: absolute;
  top: 72%;
  left: 55%;
  width: 40%;
  border-radius: 15px;
}

.menu__title {
  display: block;
  padding-top: 80px;
  padding-bottom: 48px;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

.swiper-slide {
  width: 85%;
}

.swiper-slide img {
  width: 85%;
  border-radius: 26px;
}

.swiper-slide__title {
  display: inline-block;
  text-align: center;
  padding-top: 24px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 16px;
  font-size: clamp(0.75rem, 1.3vw + 0.5rem, 1.25rem);
}

.swiper-slide__txt {
  padding-bottom: 32px;
  font-size: clamp(0.75rem, 1.3vw + 0.5rem, 1.25rem);
}

.swiper-button-prev {
  top: 30%;
  color: #ffffff;
}

.swiper-button-next {
  top: 30%;
  color: #ffffff;
}

.menu-table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  cursor: pointer;
}

.menu-table__txt {
  position: absolute;
  top: 32px;
  right: 16px;
  font-size: clamp(0.625rem, 0.8vw + 0.5rem, 0.875rem);
}

.menu-table__arrow {
  position: absolute;
  top: 50px;
  right: 10px;
  display: block;
  width: 68px;
  height: 6px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: skew(45deg);
}

.info {
  color: #789C87;
}

.info__title {
  display: block;
  padding-bottom: 48px;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

.info__wrapper {
  display: flex;
}

.info__img {
  width: 40%;
  margin-left: 16px;
  box-sizing: border-box;
}

.info__img img {
  width: 100%;
}

.info__explain {
  text-align: left;
  width: 60%;
  font-size: clamp(0.625rem, 2vw + 0.25rem, 1.125rem);
}

.info__list {
  list-style: none;
  padding-top: 5%;
  padding-left: 16px;
}

.info__list--header {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 3%;
  margin-bottom: 4px;
}

.info__list--remarks {
  font-size: clamp(0.5rem, 1.3vw + 0.25rem, 1rem);
  margin: 6% 0 10%;
}

.access {
  color: #789C87;
}

.access__title {
  display: block;
  padding-top: 80px;
  padding-bottom: 48px;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

.access__detail {
  text-align: left;
  margin-bottom: 4px;
  margin-left: 16px;
  font-size: clamp(0.75rem, 1.2vw + 0.5rem, 1.25rem);
}

.access__map {
  height: 300px;
}

.contact {
  color: #789C87;
}

.contact__title {
  display: block;
  padding-top: 80px;
  padding-bottom: 48px;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
}

.contact__reserve {
  display: inline-block;
  width: 80%;
  line-height: 32px;
  background-color: #789C87;
  border-radius: 10px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
  color: #ffffff;
  text-decoration: none;
  box-shadow: 1px 1px 3px #b2b2b2;
}

.contact__other--form {
  display: flex;
  flex-direction: column;
  -moz-text-align-last: left;
       text-align-last: left;
  width: 90%;
  font-size: 12px;
}

.contact__other--header {
  margin-top: 48px;
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
}

.contact__input {
  margin-left: 32px;
  margin-top: 16px;
  border-bottom: solid 1px #b2b2b2;
  padding-bottom: 5px;
  cursor: pointer;
}

.contact__input content {
  line-height: 40px;
  resize: vertical;
}

.contact__submit {
  margin-top: 24px;
  display: inline-block;
  width: 30%;
  line-height: 24px;
  background-color: #789C87;
  border-radius: 4px;
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
  color: #ffffff;
  text-decoration: none;
  box-shadow: 1px 1px 3px #b2b2b2;
}

@media screen and (min-width: 551px) {
  .fv-title {
    margin: 13% 0 2%;
  }
  .fv-img-sp {
    display: none;
  }
  .fv-img-pc {
    display: block;
    width: 100%;
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .store-explain {
    position: relative;
    padding-bottom: 3%;
  }
  .store-img {
    display: flex;
    justify-content: space-evenly;
  }
  .store img {
    position: relative;
    width: 30%;
    margin: 0;
    right: 0;
  }
  .menu .swiper {
    width: 80%;
  }
  .menu .swiper-button-next, .menu .swiper-button-prev {
    top: 27%;
  }
  .menu .swiper p {
    padding-bottom: 15%;
  }
  .menu .arrow {
    width: 75px;
  }
  .info img {
    margin-left: 10%;
    width: 85%;
  }
  .info ul {
    padding: 5% 0 0 25%;
  }
  .info-remarks {
    margin: 10% 0 20%;
  }
  .access p {
    margin: 2% 1% 2% 2%;
  }
  .access-map {
    height: 400px;
  }
  .contact-reserve {
    line-height: 45px;
    transition: 0.3s;
    box-shadow: 3px 3px 5px #b2b2b2;
  }
  .contact-reserve:hover {
    opacity: 0.7;
  }
  .contact-input {
    line-height: 30px;
  }
  .contact .content {
    height: 150px;
    margin-bottom: 10%;
  }
  .contact-submit {
    line-height: 45px;
  }
}
.footer {
  height: auto;
  margin-top: 40px;
  background-image: linear-gradient(235deg, hsl(23deg, 100%, 77%) 0%, hsl(11deg, 83%, 70%) 50%, hsl(0deg, 65%, 63%) 100%);
}

.footer__img {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 8px;
  width: 30px;
}

.footer__img img {
  width: 30px;
}

.footer__txt {
  font-size: clamp(0.625rem, 1.5vw + 0.25rem, 1rem);
  padding-bottom: 4px;
}

.appear {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s;
}

.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.open {
  position: fixed;
  opacity: 1;
  transform: none;
}
/*# sourceMappingURL=style.css.map */